@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;

.product-card {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 250px;
  height: auto;
  background-color: transparent; // transparent background
  padding: 16px;
  transition: transform 0.3s ease;

  // background-color: red;
  &:hover {
    transform: translateY(-4px);
  }

  .discount-banner {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: red;
    color: #fff;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
  }

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }

  &__info {
    margin-top: 12px;
    text-align: center;
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 180px;
    color: #333;
    margin-bottom: 6px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prices {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 8px;

    & .product-card__previous-price {
      font-size: 0.9rem;
      color: #888;
      text-decoration: line-through;
    }
    & .product-card__current-price {
      font-size: 1.2rem;
      color: #27ae60;
      font-weight: bold;
    }
  }

  &__availability {
    font-size: 0.9rem;
    margin-bottom: 12px;
    color: #555;
  }

  .quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    .quantity-btn {
      background-color: #eee;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 4px;
      transition: background-color 0.2s ease;
      font-size: 1.2rem;

      &:hover:not(:disabled) {
        background-color: #ddd;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .quantity-value {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__btn {
    background: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;

    &:hover:not(:disabled) {
      background: #219150;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}
