.home-main{

    .categories-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        justify-content: center;
        align-items: center;
      
        .category-box {
          background: rgba(0, 41, 128, 0.4);
          padding: 15px 20px;
          border-radius: 10px;
          font-size: 1.2rem;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          transition: background 0.3s ease;
      
          &:hover {
            background: rgba(0, 6, 128, 0.756);
            color: whitesmoke;
          }
        }
      }
      
}
