.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    
    background: linear-gradient(#9198e5 5%, white 90%);
    // background: #fff;
    // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  
    &__logo img {
      height: 50px;
    }
  
    &__nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
      
      li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
    }
  
    &__icons {
      display: flex;
      gap: 15px;
      font-size: 24px;
    }
  }